{{.CommentRequireWithoutT "a"}}
func (a *Assertions) {{.DocInfo.Name}}{{.TypeParams}}({{.Params}}){{.RequireResults}} {
	if h, ok := a.t.(tHelper); ok { h.Helper() }
	{{if .HasRequireResults}}return {{end}}{{.DocInfo.Name}}{{.TypeArgs}}(a.t, {{.ForwardedParams}})
}
