{{.CommentFormat}}
func {{.DocInfo.Name}}f{{.TypeParams}}(t TestingT, {{.ParamsFormat}}){{.Results}} {
	if h, ok := t.(tHelper); ok { h.Helper() }
	return {{.DocInfo.Name}}{{.TypeArgs}}(t, {{.ForwardedParamsFormat}})
}
