{{.CommentWithoutT "a"}}
func (a *Assertions) {{.DocInfo.Name}}{{.TypeParams}}({{.Params}}){{.Results}} {
	if h, ok := a.t.(tHelper); ok { h.Helper() }
	return {{.DocInfo.Name}}{{.TypeArgs}}(a.t, {{.ForwardedParams}})
}
